.dou {
	border: 1px darkblue solid;
}

.textColor {
	color: #5f6e7d;
}

body {
	background-color: #f0f7ff;
}

main {
	display: grid;
	place-items: center;
	margin-top: 1%;
}

img {
	width: 160px;
	height: auto;
	margin-top: 10px;
	box-shadow: 0 0 60px rgb(64, 80, 98);
}

h1 {
	font-family: 'Reem Kufi', sans-serif;
	letter-spacing: 3px;
	font-size: 50px;
	margin: 7px;
}

h2,
h3 {
	text-align: center;
	font-family: 'Average Sans', sans-serif;
	letter-spacing: 2px;
	color: hsl(0, 0%, 40%);
	margin: 0;
}

h2 {
	font-size: 25px;
}

h3 {
	margin-top: 1%;
	font-size: 15px;
}

p {
	width: 450px;
	text-align: center;
	font-family: 'Average Sans', sans-serif;
	font-size: 15px;
}

@media only screen and (max-width: 800px) {
	img {
		width: 200px;
		height: auto;
	}
	h1 {
		font-size: 37px;
	}

	h2 {
		font-size: 23px;
	}
	h3 {
		font-size: 17px;
	}

	p {
		font-size: 16px;
		width: 400px;
	}
}

footer {
	display: grid;
	place-items: center;
	margin-top: 1%;
	font-family: 'Average Sans', sans-serif;
}
